# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app

#codedatabases
*.db
*.sdf
*.opensdf

# =========================
# Temp & .vs folders Folder
code/.vs/
temp/

# =========================
# Operating System Files
# =========================

# =========================
# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.db
*.opendb
*.history
*.suo
*.TMP
*.log
*.cso

# Data Directorys
# TODO - ADD IGNORE PATTERNS
*.zip
*.mp4
*.mp3
*.wav


# EXAMPLES
# Don't ignore all files with `obj` extension underneat `build` folder, including subfolders
# !Protogame/Run/**/*.obj

# Ignore all dlls, except dlls extensions files ONLY in `Protogame/Run` folder
#*.dll 
# !Protogame/Run/*.dll


**/Temporary/*
**/.vs
**/backup/*
!**/Run/*.exe
!**/Run/*.dll
!**/ThirdParty/**/*.lib
LD46/Run/Data/Audio/Anticipation.mp3
LD46/Run/Data/Audio/AttractMusic.mp3
LD46/Run/Data/Audio/EnemyDied.wav
LD46/Run/Data/Audio/EnemyHit.wav
LD46/Run/Data/Audio/EnemyShoot.wav
LD46/Run/Data/Audio/GameOver.mp3
LD46/Run/Data/Audio/GameplayMusic.mp3
LD46/Run/Data/Audio/MapExited.mp3
LD46/Run/Data/Audio/Pause.mp3
LD46/Run/Data/Audio/PlayerDied.wav
LD46/Run/Data/Audio/PlayerHit.wav
LD46/Run/Data/Audio/PlayerShootNormal.ogg
LD46/Run/Data/Audio/QuitGame.mp3
LD46/Run/Data/Audio/StartGame.mp3
LD46/Run/Data/Audio/Unpause.mp3
LD46/Run/Data/Audio/Victory.mp3
